<div class="container-fluid jumbotron">
	<div class="row">
		<div class="col-sm-6 white-well" style="height: 440px;">
			<div class="container-fluid">
				<form ng-init="initData()" class="form-horizontal " role="form">
					<div class="form-group row  ">
						<label for="txtFrom" class="col-sm-2 col-form-label ">
						<small>FROM</small>
					</label>
						<div class="col-sm-10 ">
							<input required type="text" class="form-control " id="txtFrom" ng-model="rec.bookSource">
						</div>
					</div>
					<div class="form-group row  ">
						<label for="txtTo" class="col-sm-2 col-form-label ">
							<small>TO</small>
						</label>
						<div class="col-sm-10 ">
							<input required type="text" class="form-control " id="txtTo" ng-model="rec.bookDestination">
						</div>
					</div>

					<div class="form-group row ">
						<label for="selWhen" class="col-sm-2 col-form-label ">
							<small>WHEN</small>
						</label>
						<div class="col-sm-10 ">
							<select id="selWhen" class="form-control" ng-change="setTravelDate()" ng-model="rec.selWhen">
							<option value="NOW">Now</option>
							<option value="LATER">Later</option>
						</select>
						</div>
					</div>

					<div ng-show="rec.selWhen==='LATER'" class="form-group row ">
						<label for="TravelDate" class="col-sm-2 col-form-label ">	
							<small>DEPART</small>
						</label>
						<div class="col-sm-10 ">
							<div class="row">
								<div class="col-sm-6 ">
									<select class="form-control " id="TravelDate" ng-model="show.bookTravelDateTxt">
									<option value="{{show.bookTravelDateA}}" > {{show.bookTravelDateA}} </option>
									<option value="{{show.bookTravelDateB}}" > {{show.bookTravelDateB}} </option>
									<option value="{{show.bookTravelDateC}}" > {{show.bookTravelDateC}} </option>
								</select>
								</div>
								<div class="col-sm-6 ">
									<input required type="time" class="form-control" ng-model="show.bookTravelTimeTxt" ng-blur="validateTime()">
								</div>
							</div>
						</div>
					</div>

					<div class="form-group row ">
						<label for="VehicleTy" class="col-sm-2 col-form-label ">
							<small>Vehicle Type</small>
						</label>
						<div class="col-sm-10 ">
							<select ng-options="x as x.tariffVehicleType for x in alltariff" id="VehicleTy" class="form-control" ng-model="rec.bookVehicleType">							
						</select>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-offset-2 col-sm-8">
							<a ng-click="getEstimate()" class="btn btn-block btn-warning ">Get Estimate </a>
						</div>
					</div>


					<div id="showBookDiv" class=" form-group row" style="display: none; ">
						<div class="col-sm-offset-2 col-sm-8">
							<a ng-click="showModal()" class="btn btn-block btn-warning ">Book Now</a>

							<p id="ansPara" class="form-control-static">
							</p>

						</div>
					</div>

				</form>
			</div>
		</div>

		<div class="col-sm-6 well">
			<div id="map" ng-init="initMap()" style="width: 100%; height: 400px;"> </div>
		</div>

		<div class="container">
			<!-- Modal -->
			<div class="modal fade" id="myModal" role="dialog">
				<div class="modal-dialog">

					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header" style="padding:35px 50px;">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4> <img src="../public/images/car.png" /> Nearest Cab Details </h4>
						</div>
						<div class="modal-body" style="padding:40px 50px;">
							<form role="form">
								<div class="form-group">
									<label for="usrname"><span class="glyphicon glyphicon-user"></span> Cab Driver Name</label>
									<input required ng-model="pickedCab.name" name type="text" class="form-control" id="usrname" readonly>
								</div>
								<div class="form-group">
									<label for="cabNo"><i class="fa fa-taxi"></i>  Cab Number</label>
									<input required ng-model="pickedCab.cabNo" type="text" class="form-control" id="cabNo">
								</div>
								<div class="form-group">
									<label for="phone"><span class="glyphicon glyphicon-earphone"></span> Phone Number</label>
									<input required ng-model="pickedCab.phone" type="text" class="form-control" id="phone">
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
							<a ng-click="SaveData()" class="btn btn-danger btn-default pull-left"><span class="glyphicon glyphicon-ok"></span>Confirm</a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>