<div class="container-fluid jumbotron">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <div class="card text-center">
                <div class="card-header">
                    <h3> Error - 404 </h3>
                </div>
                <div class="card-block">
                    <h3 class="card-title"> Web Page not found</h3>
                    <a href="#/" class="btn btn-danger">Go to Home Page</a>
                </div>
            </div>
        </div>
    </div>
</div>