<div class="container-fluid">
	<div class="row">
		<div class="col-md-5">
			<form ng-init="initData()" class="form-horizontal white-well" role="form">
				<div class="form-group  plain">
					<label for="txtFrom" class="col-sm-2 control-label plain">
						<small>FROM</small>
					</label>
					<div class="col-sm-10 plain">
						<input type="text" class="form-control plain" id="txtFrom" ng-model="book.bookSource">
					</div>
				</div>
				<div class="form-group  plain">
					<label for="txtTo" class="col-sm-2 control-label plain">
							<small>TO</small>
						</label>
					<div class="col-sm-10 plain">
						<input type="text" class="form-control plain" id="txtTo" ng-model="book.bookDestination">
					</div>
				</div>

				<div class="form-group plain">
					<label for="selWhen" class="col-sm-2 control-label plain">
							<small>WHEN</small>
						</label>
					<div class="col-sm-10 plain">
						<select id="selWhen" class="form-control" ng-model="book.selWhen">
							<option value="NOW">Now</option>
							<option value="LATER">Later</option>
						</select>
						<span>
							test = {{book}}
						</span>
					</div>
				</div>

				<div ng-show="book.selWhen==='LATER'" class="form-group plain">
					<label for="TravelDate" class="col-sm-2 control-label plain">
							<small>DEPART</small>
						</label>
					<div class="col-sm-10 plain">
						<input type="datetime-local" class="form-control plain" id="TravelDate">
					</div>
				</div>

				<div class="form-group plain">
					<label for="VehicleTy" class="col-sm-2 control-label plain">
							<small>Vehicle Type</small>
						</label>
					<div class="col-sm-10 plain">
						<select ng-options="x as x.tariffVehicleType for x in alltariff" id="VehicleTy" class="form-control" ng-model="book.bookVehicleType">
							<option value="">Select Vehicle Type</option>
							
						</select>
						<span>
							test = {{book}}
						</span>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-8">
						<a id="routeClick" class="btn btn-block confirm-btn" ng-click="drawRoute()">Book Now</a>
					</div>
				</div>
			</form>
			<div id="dvDistance"> </div>
			<div id="dvPanel" style="width:90%; height: 300px;"></div>
		</div>
	</div>
	<div class="col-md-6 well">
		<div id="dvMap" ng-init="initMap()" style="width: 100%; height: 400px;"></div>
	</div>
</div>