<div class="container-fluid jumbotron">
	<div class="row">
		<div class="col-sm-6 white-well" style="height: 440px;">
			<form ng-show="cab.bookUser" class="form-horizontal well" role="form">
				<table class="table ">
					<caption>
						<h3>
							Booking Details
						</h3>
					</caption>
					<tr>
						<td>
							<strong>Customer</strong>
						</td>
						<td>
							<input id="txt1" class="form-control plain" type="text" ng-model="cab.bookUser.name" />
						</td>
					</tr>
					<tr>
						<td>
							<strong>Phone</strong>
						</td>
						<td>
							<input class="form-control plain" type="text" ng-model="cab.bookUser.phone" />
						</td>
					</tr>
					<!-- <tr>
							<td>
								<strong>   Base Tariff</strong>
							</td>
							<td>

								<input class="form-control plain" type="text" ng-model="Data.baseTariff" />
							</td>
						</tr> -->
				</table>
			</form>
		</div>

		<div class="col-sm-6 well">
			<div ng-init="init();">
				<div id="map" style="width: 100%; height: 400px;"></div>
			</div>
		</div>
	</div>