<!-- div main starts -->
<div class="container-fluid jumbotron">
    <!-- Carousel starts -->
    <div class="row">
        <div class="col-md-12">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="../public/images/1.jpg" alt="Carousel">
                    </div>

                    <div class="item">
                        <img src="../public/images/2.jpg" alt="Carousel">
                    </div>

                    <div class="item">
                        <img src="../public/images/3.jpg" alt="Carousel">
                    </div>

                    <div class="item">
                        <img src="../public/images/4.jpg" alt="Carousel">
                    </div>
                </div>
                <div style="position:absolute; top:50px;">
                    <div class="container">
                        <div style="margin:auto; text-align:center;">
                            <!--<h1>
                                <span class="label label-info">
                                        Welcome to CAB Book
                                </span>
                                <br />
                            </h1>-->

                            <h1>
                                <a href="#/book" class="  banner-button hvr-wobble-bottom">
                               
                                    Welcome to CAB Book
                            </a>
                            </h1>

                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#myCarousel').carousel({
                        interval: 2000, cycle: true
                    });
                });
            </script>
        </div>
        <!-- Carousel ends -->
    </div>
    <div class="container">
        <!--footer starts-->
        <div class="row gray">
            <div class="col-sm-12  centre-block">
                <h3>Why Choose CAB Book?</h3>
                <ul>
                    <li>Well trained chauffeurs</li>
                    <li>Young, well-maintained car fleet</li>
                    <li>Amenities for comfort </li>
                </ul>
            </div>
        </div>
        <div class="row gray">
            <div class="col-sm-3"><img class="center-block img-responsive" src="../public/images/service.jpg"></div>
            <div class="col-sm-3"><img class="center-block img-responsive" src="../public/images/price.jpg"></div>
            <div class="col-sm-3"><img class="center-block img-responsive" src="../public/images/support.jpg"></div>
            <div class="col-sm-3"><img class="center-block img-responsive" src="../public/images/cars.jpg"></div>
        </div>


        <div class="row gray">
            <div class=" col-sm-3 wdcar">
                <img src="../public/images/car.png" alt="Cabs" title="Cabs" width="47" height="39"> <label><span>8000</span><br>Cabs</label>
            </div>
            <div class=" col-sm-3 wdtrips">
                <img src="../public/images/trips.png" alt="Trips Daily" title="Trips Daily" width="42" height="42">
                <label><span>20,000+</span><br>Trips Daily</label>
            </div>
            <div class=" col-sm-3 wdten">
                <img src="../public/images/lst.png" alt="Customers Annually" title="Customers Annually" width="44" height="40">                <label><span>6,000,000+</span><br>Customers Annually</label>
            </div>
            <div class=" col-sm-3 wdten">
                <img src="../public/images/ten.png" alt="Kilometers Daily" title="Kilometers Daily" width="40" height="47">                <label><span>100,000+</span><br>Kilometers Daily</label>
            </div>
        </div>
    </div>
</div>


<!-- div main ends -->