<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" aria-expanded="false" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">CAB Book</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#/"><i class="fa fa-taxi"></i>Home</a></li>
                <li ng-show="currentUser.role==='admin'"><a href="#/tariffs">Tariffs</a></li>
                <li ng-show="currentUser.role==='admin'"><a href="#/register-driver">Add Cab</a></li>

                <!--<li  ><a href="#/tariffs">Tariffs</a></li>-->
                <li ng-show="currentUser.role==='client'"><a href="#/rides">Rides</a></li>


            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li ng-hide="currentUser.name"><a> Welcome <span class="glyphicon glyphicon-user"></span> Guest</a> </li>
                <li ng-show="currentUser.name"><a> Welcome <span class="glyphicon glyphicon-user"></span> {{currentUser.name}} </a> </li>
                <li ng-hide="currentUser.name"><a href="#/login"><span class="glyphicon glyphicon-log-in"></span>  Login</a></li>
                <li ng-show="currentUser.name"><a href="#/password"> <span class="glyphicon glyphicon-cog"></span>Change Password</a></li>
                <li ng-show="currentUser.name"><a ng-click="LogoffUser()"> <span class="glyphicon glyphicon-log-out"></span> Logoff</a></li>
                <li ng-hide="currentUser.name"><a href="#/register"><span class="glyphicon glyphicon-user"></span>Register</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>