<div class="container-fluid jumbotron">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">


            <div class="card card-inverse card-warning mb-3 ">
                <div class="card-header text-center">
                    <h2> User Registration Page </h2>
                </div>
                <div class="card-block">
                    <input placeholder="Email Address" ng-model="data.email" type="text" class="form-control" />
                    <input placeholder="Password" ng-model="data.password" type="password" class="form-control" />
                    <input placeholder="Confirm Password" ng-model="data.cnfPassword" type="password" class="form-control" />
                    <input placeholder="Name" ng-model="data.name" type="text" class="form-control" />
                    <input placeholder="Address" type="text" ng-model="data.address" class="form-control" />
                    <input placeholder="Mobile Number" ng-model="data.phone" type="text" class="form-control" />

                    <a href="#/login" class="btn btn-success" ng-click="RegisterUser()" style="margin-top: 20px">Submit</a>
                    <a href="#/" type="button" class="btn btn-warning" style="margin-top: 20px">Cancel</a>
                </div>
                <!--<div class="card-footer text-muted">
                    2 days ago
                </div>-->
            </div>


        </div>
        <div class="col-lg-2"></div>
    </div>
</div>